<div class="row">
    {{#each tasks}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">                
                <h4 class="card-title d-flex justify-content-between align-item-center">
                    {{title}}
                </h4>
                <p class="card-text">
                    {{description}}
                </p>
                <p class="card-text">
                    {{dateExpiration}}
                </p>
                <p class="card-text">
                    {{statusTask}}
                </p>                                
                
                <form action="/tasks/edit/{{_id}}?_method=PUT" method="POST">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        EDIT
                    </button>
                </form>

                <form action="/tasks/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        DELETE
                    </button>
                </form>
                
            </div>
        </div>
    </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">SIN TAREAS!!</p>
                <a href="/tasks/create" class="btn btn-success btn-block">Crea una nueva tarea</a>
            </div>
        </div>
    {{/each}}
</div>